<div class="flex justify-center">

    @for(item of Productos; track item.id){

        <div class="max-w-[350px] p-5 bg-[var(--fondo-sexto)] rounded-2xl mx-10">
            <div class="mb-6 overflow-hidden ">
                <img class="rounded-3xl w-full max-h-[300px] object-top object-cover  " [src]=[item.url] [alt]=[item.tittle]>
            </div>
            <div class="mb-6">
                <h3 class="text-[20px] text-[var(--texto-primario)] font-bold">{{item.tittle}}</h3>
                <span class="text-[12px] text-[var(--texto-secundario)] font-light">
                    {{item.description}}
                </span>
            </div>
            <button class="flex bg-[var(--fondo-principal)] px-5 py-3 rounded-2xl font-bold border border-[var(--texto-secundario)]">
                <img src="/svg/telefono-negro.svg" alt=""> Contactanos
            </button>
        </div>

        

    }
</div>

